html,
body{
    height: 100%;
    background-color:white ;
}

body{

    display: flex;
    align-items: center;
    padding-top:40px;
    padding-bottom: 40px;
    background-color: lightblue;


}

.form-signin{

    max-width: 800px;
    padding: 8px;



}
.form-signin.form-floating:focus-within{

    z-index: 2;
}

.form-signin input[type="text"]{

   margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;


}
.form-signin input[type="password"]{

    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;


}
#regfister{

    padding: 1.5rem;
}

form{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    width: 99%;
    height: 30%;


}

label{


    position: absolute;
    right:30%;

}
.btn btn-info {

    position: absolute;
    width: 50px;
}