*{
    margin: 0;
    padding: 0;

}
body{

    badground-color:lightgray;


}

.navar{
    padding: 1rem;


}

.navar-collapse{
    align-items: center;
    justify-content: center;

}

footer{
    align-items: center;
    justify-content: space-between;

}
@media screen and (max-width: 767px){
.navar-brand {
    display: none;
}
}




/*FORMULARIO STYLE*/


form{
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    width: 99%;
    height: 30%;


}

label{



    right: 30%;

}
.btn btn-info {

    position: absolute;
    width: 50px;
}

